@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Book.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Heavy.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Medium.ttf");
  font-weight: 400;
  font-style: normal; }

.navbar {
  width: 100%;
  padding: 15px 19px 15px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 #e1e7ed;
          box-shadow: 0 1px 0 #e1e7ed; }
  .navbar__logo {
    height: 30px;
    width: 30px;
    cursor: pointer; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0; }
  .navbar__item {
    margin-right: 35px; }
  .navbar__link {
    font-weight: bold;
    padding: 8px 0; }
  .navbar__user {
    cursor: pointer; }

.book {
  width: 330px;
  padding: 30px;
  border: 1px solid #e1e7ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px; }
  .book__title {
    line-height: 19px;
    margin-bottom: 39px; }
  .book__input {
    width: 100%;
    height: 50px;
    border: 1px solid #e1e7ed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 16px;
    padding-left: 17px;
    line-height: 19px;
    color: #3d4e61;
    outline: none; }
  .book__button {
    width: 100%;
    height: 50px;
    margin-top: 24px;
    background: #fd5c63;
    border-radius: 4px;
    line-height: 19px;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .book__button:hover {
      background: #3d4e61; }

.apartment-info {
  width: 482px; }
  .apartment-info__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400; }
  .apartment-info__subtitle {
    line-height: 19px;
    color: #687c94;
    font-weight: 300;
    margin: 10px 0 15px; }
  .apartment-info__accessibility {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .apartment-info__benefits {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 82px;
            flex: 0 0 82px;
    font-size: 16px;
    line-height: 19px; }
  .apartment-info__description {
    line-height: 24px;
    margin: 28px 0; }
  .apartment-info__link {
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    padding: 8px 0; }

.amenities__title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 21px; }

.amenities__container {
  display: grid;
  grid-template-columns: 180px 180px;
  grid-template-rows: 28px 28px;
  grid-column-gap: 19px;
  grid-row-gap: 13px;
  margin-bottom: 13px; }

.amenities__item {
  line-height: 19px; }

.amenities__link {
  line-height: 19px;
  font-weight: 600;
  padding: 8px 0; }

.reviews {
  grid-row: 3/4;
  margin-top: 66px; }
  .reviews__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 34px; }
  .reviews__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reviews__image {
    width: 50px;
    height: 50px;
    margin-right: 21px; }
  .reviews__name {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 4px; }
  .reviews__date {
    font-size: 14px;
    line-height: 16px; }
  .reviews__content {
    margin-top: 14px;
    height: 120px;
    font-size: 16px;
    line-height: 19px; }

.host {
  grid-row: 4/5;
  margin-top: 15px; }
  .host__block {
    margin-top: 16px;
    min-height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .host__title {
    margin-bottom: 11px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px; }
  .host__adress {
    font-size: 14px;
    line-height: 16px; }
  .host__content {
    line-height: 19px; }
  .host__button {
    width: 150px;
    height: 50px;
    border: 1px solid #118488;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #118488;
    font-weight: bold;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    cursor: pointer; }
    .host__button:hover {
      background-color: #118488;
      color: white; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .column__list {
    list-style: none;
    padding: 0; }
  .column__item {
    margin-bottom: 8px; }
  .column__title {
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 20px; }
  .column__link {
    padding: 3px 0; }

body,
html,
p,
h3,
a,
ul {
  background: #fff;
  margin: 0;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #3d4e61; }

.main-image {
  background-image: url("../images/Image.png");
  background-size: cover;
  width: 100%;
  height: 464px; }

.content {
  max-width: 901px;
  margin: 39px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px; }

.footer {
  width: 100%;
  height: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 44px 0 43px;
  background: #fff;
  -webkit-box-shadow: 0 -1px 0 #e1e7ed;
          box-shadow: 0 -1px 0 #e1e7ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .footer__container {
    width: 901px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    grid-gap: 200px; }

a {
  border-bottom: 1px solid transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  a:hover {
    border-bottom: 1px solid #fd5c63; }

/*# sourceMappingURL=main.css.map */
